// .bread-crumbs {
//     padding: 10px 0;
//     color: #ccc;
//     overflow: hidden;
//     ul {}
//     li {
//         float: left;
//         &:after {
//             content: "/";
//             margin: 0 10px;
//         }
//         &:last-child:after {
//             content: "";
//         }
//     }
// }
.breadcrumb {
    padding: 20px 0 10px;
    font-style: italic;
    li {
        display: inline-block;
        margin-right: 10px;
        color: #a4a4a4;
        a {
            margin-right: 10px;
        }
        &:after {
            content: "/";
        }
        &:first-child {
            display: none;
        }
        &:last-child {
            color: #292929;
            &:after {
                display: none;
            }
        }
    }
}