.category {
    color: #000;
    .advantages {
        background: #fcfcfc;
        padding: 40px;
        margin-bottom: 40px;
    }
}

.filter-column {
    float: left;
    width: 225px;
    margin-right: 10px;
}
.products-column {
    width: calc(100% - 235px);
}








// Фильтры
.filter-block {
    border-top: 1px solid #e6e6e6;
    padding: 14px 0px;
    .title {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: 2px;
        position: relative;
        cursor: pointer;
        &:after {
            content: "";
            position: absolute;
            right: 3px;
            top: 2px;
            height: 8px;
            width: 8px;
            display: block;
            border-top: 1px solid #000;
            border-left: 1px solid #000;
            transform: rotate(-135deg);
            transition: all 300ms;
        }
        &:hover {
            &:after {
                transition: all 300ms;
                border-color: #f6be82;
            }
        }
        &.open {
            &:after {
                transform: rotate(405deg);
                top: 7px;
            }
        }
    }
    .list {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        // margin-top: 15px;
        li {
            margin-bottom: 10px;
            font-weight: 300;
            &.active {
                font-weight: 500;
            }
        }
        &.categories li {
            font-weight: 500;
        }
    }
}

.dropdown-filter {
    height: 0;
    overflow: hidden;
    transition: all 300ms;
    margin-top: 0;
    &.open {
        height: auto;
        transition: all 300ms;
        margin-top: 15px;
        max-height: 200px;
        overflow: auto;
    }
}

.checkbox {
    margin-bottom: 10px;
    position: relative;

    input {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    &-label {
        position: relative;
        cursor: pointer;
        padding-left: 28px;
        &:hover { opacity: .7; }
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            background: #e6e6e6;
            width: 15px;
            height: 15px;
        }
        &:after {
            content: "";
            display: none;
            position: absolute;
            left: 4px;
            top: 0px;
            width: 4px;
            height: 8px;
            transform: rotate(45deg);
            border-bottom: 3px solid #000;
            border-right: 3px solid #000;
            border-radius: 1px;
        }
    }

    & input:checked ~ &-label:after {
        display: block;
    }
}





















// Сортирока
.sort-line {
    display: flex;
    justify-content: center;
    padding: 20px 0 14px;
    margin: 0 5px 5px;
    font-size: 16px;
    font-weight: 300;
    color: #000;
    letter-spacing: 0.06em;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.sort {
    display: flex;
    margin: 0 10px;
    li {
        margin: 0 8px;
        a {
            padding: 5px 7px;
        }
        &.active {
            a {
                font-weight: 500;
                background: #e6e6e6;
            }
        }
    }
}

.order-by {
    display: flex;
    &--desc,
    &--asc {
        position: relative;
        display: block;
        margin-right: 10px;
        &::before {
            content: "";
            position: relative;
            color: #e6e6e6;
            height: 10px;
            width: 10px;
            border-top: 2px solid #e6e6e6;
            border-left: 2px solid #e6e6e6;
            display: block;
            margin: 5px;
        }
        &.active::before { border-color: #030303; }
        &:hover::before {
            text-decoration: none;
            border-color: #f6be82;
        }
    }
    &--desc::before { transform: rotate(-135deg); top: -6px; }
    &--asc::before { transform: rotate(45deg); }
}













// Товары
.products {
    display: flex;
    flex-wrap: wrap;
    &-row { margin-bottom: 40px; }
    &-bottom { margin-bottom: 50px; }
    .g-btn--buy {
        width: calc(100% - 36px);
        max-width: 165px;
    }
}

.product-layout {
    .button-group {
        // display: none;
        position: absolute;
        bottom: 0;
        left: -1px;
        right: -1px;
        z-index: 10;
        background: #fff;
        border: 1px solid #e5e5e5;
        border-top: 0;
        text-align: center;
        padding: 0;
        height: 0;
        overflow: hidden;
        transition: all 300ms;
        white-space: nowrap;
    }

    .product-thumb {
        border: 1px solid #e5e5e5;
        margin: 5px;
        position: relative;
        &:hover {
            @include g-box-shadow(3px, 6px, 14px, rgba(0,0,0,.4));
            .button-group {
                transition: all 300ms;
                padding: 5px;
                bottom: -44px;
                height: auto;
                @include g-box-shadow(3px, 14px, 14px, rgba(0,0,0,.4));
            }
        }
    }

    .image {
        text-align: center;
        padding: 10px;
    }

    .caption {
        border-top: 1px solid #e5e5e5;
        color: #000;
        margin: 10px;
        h4 {
            text-align: center;
            font-weight: bold;
            font-size: 15px;
            line-height: 35px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        h3 {
            text-align: center;
            overflow: hidden;
            font-size: 14px;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-bottom: 9px;
        }
        .price {
            font-size: 21px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 12px;
            &-old {
                color: #999999;
                text-decoration: line-through;
                margin-right: 20px;
            }
        }
        .currency { font-size: 15px; }
    }

    &.product-grid {
        width: 25%;
    }

    &.owl-carousel {
        .owl-wrapper-outer {
            border: 0;
            box-shadow: none;
            padding-bottom: 60px;
        }
        .owl-wrapper {
            z-index: 5;
        }
        .owl-pagination {
            top: -47px;
        }
        .owl-buttons {
            & > div {
                z-index: 10;
                opacity: 1;
            }
            .owl-prev,
            .owl-next {
                top: 40%;
                &:before {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-top: 1px solid #e5e5e5;
                    border-left: 1px solid #e5e5e5;
                }
                &:hover {
                    &:before {
                        border-color: #f6be82;
                    }
                }
            }
            .owl-prev {
                transform: rotate(-45deg);
                left: -30px;
            }
            .owl-next {
                transform: rotate(135deg);
                right: -30px;
            }
        }
    }
}



