html {
    height: 100%;
}

body {
    font-family: $global_ff1;
    font-size: 14px;
    color: $global_color_fonts;
    background: #fff;
    height: 100%;
    min-width: 320px;
}

// .rtl body { font-family: $global_ff1_rtl;}

h1, h2, h3, h4, h5, h6 {
    color: $global_color_fonts_h;
    line-height: 1.4;
}
h1 { font-size: 30px; }
h2 { 
    font-size: 30px;
    margin-bottom: 15px;
}
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

main {
    padding-top: 50px;
    margin-bottom: 30px;
    &.home {
        padding-top: 0;
    }
}

a {
    text-decoration: none;
    color: $global_color_link;
    transition: all 300ms;
    &:hover {
        text-decoration: underline;
        transition: all 300ms;
        color: $global_color_link_hover;
    }
    &.disabled {
        pointer-events: none;
        cursor: default;
        color: #999;
    }
}

b { font-weight: bold; }

p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}
img { max-width: 100%; }

hr {
    border: none;
    height: 1px;
    background-color: $global_color_2;
}

textarea:focus, input:focus{
    outline: none;
}

// .container.hr-wrap {
//     margin-top: 40px;
// }

.page-wrapper {
    min-height: 100%;
    margin-bottom: -$global_footer_height;
}
.page-buffer {
    height: $global_footer_height;
}

// .ff-1 { font-family: $global_ff1; }
// .ff-2 { font-family: $global_ff2; }

// .rtl .ff-1 { font-family: $global_ff1_rtl; }
// .rtl .ff-2 { font-family: $global_ff2_rtl; }



.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.flex-row {
    display: flex;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.g-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    padding: 5px 29px;
    font-size: 14px;
    line-height: 35px;
    background: #898a93;
    color: #fff;
    border: 0;
    transition: all 300ms;
    &:hover {
        opacity: .6;
        color: #fff;
        text-decoration: none;
        transition: all 300ms;
    }
    &--buy {
        background: #68c23e;
        font-size: 19px;
    }
    &--small { padding: 5px 10px; }
    &--wishlist { background: #e0ad77;}
    &--compare { background: #e0ad77;}
    &--more-prod {
        background: #e0ad77;
        text-transform: uppercase;
    }
}


[class*="ico-"] {
    display: inline-block;
    vertical-align: middle;
}

@include sprites($spritesheet-sprites);










.dropdown-menu {
    display: none;
    &.open {
        display: block;
    }
}

.collapse {
    transition: all 300ms;
    height: 0;
    display: none;
    &.in {
        transition: all 300ms;
        display: block;
        height: auto;
    }
}

.pagination {
    display: flex;
    justify-content: flex-end;
    margin: 16px 0;
    font-size: 18px;
    font-weight: 300;
    color: #000;
    li {
        margin: 0 5px;
        a {
            padding: 0 5px 2px 5px;
            &:hover {
                text-decoration: none;
            }
        }
        span { padding: 0 1px 2px 1px; }
    }
    .active {
        font-weight: bold;
        border-bottom: 1px solid #000;
    }
}



























// ************** Home ***************
.slider {
    margin-bottom: 60px;
    .owl-item .item { text-align: center; }
    .owl-pagination { top: -30px; }
    .owl-controls .owl-page {
        span {
            background: #878892;
            box-shadow: none;
        }
        &.active span { background: #f7d0a7;}
    }
}

.featured {
    margin-bottom: 80px;
    h2 { text-align: center; }
}
.advantages {
    margin-bottom: 70px;
    ul {
        display: flex;
        justify-content: space-between;
    }
    li {
        position: relative;
        padding: 0 40px 0 80px;
        i {
            position: absolute;
            top: 0;
            left: 0;
        }
        .title {
            font-weight: bold;
            font-size: 15px;
            margin-bottom: 9px;
        }
        .desc {
            font-weight: 300;
            font-size: 12px;
            line-height: 1.4em;
        }
    }
}


.last-news-post {
    margin-bottom: 80px;
    .images-wrapp { position: relative; }
    .image-gb {
        height: 100%;
        width: 100%;
        background: #f4bd81;
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 10px;
    }
    .image1 {
        position: relative;
        z-index: 3;
        float: right;
        img {
            position: relative;
            z-index: 10;
        }
    }
    .image2 {
        position: absolute;
        z-index: 4;
        top: 70px;
        right: 235px;
        img {
            @include g-box-shadow(8px, 11px, 14px, rgba(0,0,0,.4));
        }
    }
}


.last-news {
    color: #000;
    img { margin-bottom: 10px; }
    & > .title {
        text-align: center;
        margin-bottom: 40px;
    }
    .container {
        margin-bottom: 50px;
    }

    &__list {
        text-align: left;
        .title {
            font-size: 16px;
            line-height: 22px;
        }
        .date {
            color: #c1c1c1;
            line-height: 31px;
        }
    }
}

















