.header {
    color: #fff;
    height: $global_header_height;

    .top-nav {
        font-size: 23px;
        white-space: nowrap;
        letter-spacing: 0.1em;
        width: 100%;

        &-toggle {
            margin: 5px;
            // float: right;
            display: none;
        }

        ul {
            display: flex;
            justify-content: space-between;
        }

        li {
            position: relative;
            a {
                display: block;
                height: $global_header_height;
                line-height: $global_header_height + 3;
                padding: 0 10px;
                letter-spacing: .6px;
            }
            &.active {
                a {
                    color: #56cc9d;
                }
            }
            &:hover {
                a {
                    text-decoration: none;
                }
            }
        }
        ul.sub-nav {
            position: absolute;
            top: $global_header_height;
            right: 0;
            display: none;
            background: #fff;
            @include g-box-shadow(0, 0, 20px, rgba(0,0,0,.4));
            border-radius: 0 0 5px 5px;
            z-index: 20;
            li {
                padding: 0 10px;
            }

        }
        li:hover ul.sub-nav {
            display: block;
        }
    }


}