.header {
    border-top: 5px solid #f6be82;
    // height: $global_header_height;
    position: relative;

    .logo {
        text-align: center;
        img {
            max-height: 120px;
            position: relative;
            top: -25px;
        }
    }

    .top-line {
        min-height: 72px;
        padding: 25px 0 20px;
        .phone {
            font-size: 17px;
            font-weight: bold;
        }
    }

    .top-searh div {
        display: flex;
        border: 1px solid #e9e9e9;
    }

    .search {
        &-input {
            border: 0;
            line-height: initial;
            width: calc(100% - 36px);
            padding-bottom: 9px;
        }
        &-btn {
            background-color: transparent;
            border: 0;
            cursor: pointer;
            &:hover {
                opacity: .6;
            }
        }
    }

    .top-nav {
        font-size: 14px;
        font-style: italic;
        font-weight: light;
        color: #a4a4a4;
        white-space: nowrap;
        letter-spacing: 0.1em;
        width: 100%;

        &-toggle {
            margin: 5px;
            // float: right;
            display: none;
        }

        ul {
            display: flex;
            justify-content: center;
        }

        li {
            position: relative;
            a {
                padding: 0 5px;
                letter-spacing: .02em;
            }
            &.active {
                a {
                    // color: #56cc9d;
                }
            }
            &:hover {
                a {
                    // text-decoration: none;
                }
            }
        }
        ul.sub-nav {
            position: absolute;
            top: $global_header_height;
            right: 0;
            display: none;
            background: #fff;
            @include g-box-shadow(0, 0, 20px, rgba(0,0,0,.4));
            border-radius: 0 0 5px 5px;
            z-index: 20;
            li {
                padding: 0 10px;
            }

        }
        li:hover ul.sub-nav {
            display: block;
        }
    }






    .middle-line {
        padding-top: 20px;
        min-height: 100px;
        .discount {
            font-weight: bold;
            line-height: 1.2em;
        }
    }

    .header-cart {
        text-align: right;
        &-btn {
            background-color: transparent;
            border: 0;
            cursor: pointer;
            min-width: 160px;
            position: relative;
            text-align: left;
            padding-left: 50px;
            font-family: $global_ff1;
            line-height: 1.4em;
            i {
                position: absolute;
                left: 0;
                top: 4px;
            }
        }
        .cart-name {
            font-weight: 500;
            font-size: 15px;
            color: #292929;
        }
        .cart-counts {
            font-weight: 300;
            font-size: 13px;
            color: #6e6e6e;
        }
    }









    $bottom-line-height: 50px;
    .bottom-line {
        background: #292929;
        opacity: .8;
        height: $bottom-line-height;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        // position: absolute;
        position: relative;
        // bottom: -$bottom-line-height;
        // left: 0;
        // right: 0;
        // z-index: 10;
        ul {
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }
        li {
            height: 100%;
            a {
                padding: 18px 15px;
                display: block;
                &:hover {
                    background: $global_color_link_hover;
                    color: $global_color_fonts;
                    text-decoration: none;
                }
            }
            &.active {
                a {
                    background: $global_color_link_hover;
                    color: $global_color_fonts;
                    text-decoration: none;
                }
            }
        }
    }
    .cat-nav-toggle { display: none; }
}