[class*="information-"] { {
    .advantages {
        margin-top: 30px;
        border-top: 1px solid #e5e5e5;
        padding-top: 70px;
    }
}


.information-contact {
    h1 { font-style: italic; }
    .map { margin-top: 30px; }
}

.contact-info {
    margin-top: 82px;

    address, div {
        line-height: 1.4em;
        margin-bottom: 10px;
        span {
            padding-left: 10px;
            letter-spacing: 0.02em;
        }
        i {
            position: relative;
            top: -2px;
        }
    }
}

.contact-form { margin: 30px 0; }










.information {
    .breadcrumb { text-align: center; }
    h1 {
        font-style: italic;
        font-weight: 300;
        text-align: center;
        margin-bottom: 10px;
    }
    .date {
        text-align: center;
        color: #a4a4a4;
        font-weight: 300;
        margin-bottom: 25px;
    }
    .content {
        max-width: 770px;
        margin: 0 auto;
    }
    p {
        font-size: 18px;
        line-height: 28px;
    }
}
