.product {
    h1 {
        font-style: italic;
        font-weight: 300;
        padding: 15px 0;
        margin-bottom: 12px;
    }

    .fastorder-wrap {
        margin-bottom: 10px;
    }

    .btn-buy-wrap { margin-bottom: 10px; }
}



.prod-foto {
    margin-top: 10px;
    .thumbnails-wrap {
        width: 90px;
        float: left;
    }
    .thumbnails {
        text-align: center;
        max-height: 375px;
        overflow-y: auto;
        li {
            margin-bottom: 10px;
            padding: 3px;
            border: 1px solid #e5e5e5;
            position: relative;
            opacity: .4;
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,.3);
            }
            &.active {
                opacity: 1;
                &:before { display: none; }
            }
        }
    }
    .detail-img {
        margin-left: 100px;
        padding: 10px;
        border: 1px solid #e5e5e5;
    }
    .show-all-thumbnails {
        font-size: 17px;
        font-weight: 500;
        color: #292929;
        text-align: center;
        cursor: pointer;
        &:hover { opacity: .7; }
    }
}


.short-list-line {
    font-weight: 300;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 35px;
    li {
        padding: 0 15px 0 0;
        line-height: 21px;
        &:after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 1px;
            background: #e2e2e2;
            margin-left: 21px;
            vertical-align: middle;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
        span { padding-left: 15px; }
        i {
            position: relative;
            top: -4px;
        }
    }
}

.price-block {
    border: 1px solid #e5e5e5;
    padding: 10px 10px 0;
    text-align: center;
    h2 { margin-bottom: 5px; }
    .price {
        font-size: 31px;
        font-weight: 500;
        .currency { font-size: 18px; }
    }
    .old-price {
        font-size: 18px;
        color: #999999;
        text-decoration: line-through;
        .currency { font-size: 14px; }
    }

}

.promo {
    text-align: left;
    padding: 14px 20px 0 20px;
    letter-spacing: 0.05em;
    li { margin-bottom: 12px; }
    span { margin-left: 10px; }

}


.options {
    .control-label {
        font-weight: 300;
        font-size: 15px;
    }
    .group-radio {
        overflow: hidden;
        margin-top: 10px;
    }
    .radio {
        float: left;
        label {
            position: relative;
            display: inline-block;
            margin: 0 10px 10px 0;
            padding: 5px 10px;
            text-align: center;
            border: 1px solid #e5e5e5;
            transition: all 300ms;
            cursor: pointer;
        }
        input {
            position: absolute;
            opacity: 0;
        }
        input[type=radio]:checked + label {
          border-color: #deab76;
        } 
    }
}


.nav-tabs {
    border-bottom: 1px solid #e5e5e5;
    letter-spacing: 0.03em;
    &:after {
        clear: both;
        display: table;
        content: " ";
    }
    li {
        text-transform: uppercase;
        float: left;

        &.active {
            color: #deab76;
            a {
                border-bottom: 1px solid #deab76;
            }
        }

        a {
            padding: 15px 0;
            margin-right: 40px;
            display: inline-block;
            position: relative;
            top: 1px;
            border-bottom: 1px solid transparent;
            &:hover {
                color: #deab76;
                text-decoration: none;
                border-bottom: 1px solid #deab76;
            }
        }
    }
}

.tab-content {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 80px;

    & > div { padding: 20px 0; }

    .tab-pane {
        display: none;
        &.active {
            display: block;
        }
    }
}


