@media screen and (max-width: 1240px) {
    .product-layout.owl-carousel .owl-buttons .owl-prev { left: 30px; }
    .product-layout.owl-carousel .owl-buttons .owl-next { right: 30px; }
} // end max-width: 1240px



@media screen and (max-width: 1200px) {
    .footer-bottom .logo { text-align: center; }
} // end max-width: 1200px



@media screen and (max-width: 991px) {
    main { padding-top: 0; }
    .header {
        .top-nav-toggle { display: block; }
        .top-nav {
            display: none;
            &.open {
                display: block;
                position: absolute;
                top: 50px;
                left: -52px;
                background: #fff;
                @include g-box-shadow(0, 0, 20px, rgba(0,0,0,.4));
                width: auto;
                min-width: 170px;
                padding: 20px;
                z-index: 11;

                ul {
                    display: block;
                    &.sub-nav {
                        display: none;
                    }
                }
                li {
                    padding: 0 5px;
                    margin-bottom: 18px;
                    &:last-child { margin-bottom: 0; }
                    a {
                        color: #000;
                        &:hover {
                            color: $global_color_link_hover;
                        }
                    }
                    &.active a {
                        color: $global_color_link_hover;
                    }
                }
            }
        }

        .bottom-line { background-color: transparent; }
        .cat-nav-toggle { display: block; }
        .cat-nav {
            display: none;
            &.open {
                display: block;
                position: absolute;
                top: 45px;
                right: 30px;
                background: #fff;
                @include g-box-shadow(0, 0, 20px, rgba(0,0,0,.4));
                width: auto;
                min-width: 170px;
                padding: 20px;
                z-index: 11;

                ul {
                    display: block;
                    &.sub-nav {
                        display: none;
                    }
                }
                li {
                    padding: 0 5px;
                    margin-bottom: 18px;
                    &:last-child { margin-bottom: 0; }
                    a {
                        color: #000;
                        padding: 5px;
                        &:hover {
                            color: $global_color_link_hover;
                            background-color: transparent;
                        }
                    }
                    &.active a {
                        color: $global_color_link_hover;
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .slider { margin-bottom: 0; }
    .slider .owl-carousel { margin-bottom: 0; }
    .advantages {
        margin-bottom: 30px;
        ul { flex-wrap: wrap; }
        li {
            width: 50%;
            margin: 20px 0;
        }
    }
    .featured { margin-bottom: 0; }
    .last-news-post { margin-bottom: 30px; }
    .last-news > .title { margin-bottom: 20px; }
    .last-news .container { margin-bottom: 20px; }

    // Category
    .filter-column {
        display: none;
        position: absolute;
        left: calc(50% - 115px);
        width: 230px;
    }
    .products-column { width: 100%; }
    .g-btn--mob-filter { display: block; }
    .products-row { margin-bottom: 20px; }
    .products-bottom { margin-bottom: 20px; }
    .category .advantages {
        padding: 0 40px;
        margin-bottom: 30px;
    }

    // Product
    .prod-foto { margin-bottom: 10px; }
    .tab-content { margin-bottom: 30px; }

    // informations
    [class*="information-"] .advantages {
        margin: 0 auto 10px;
        padding: 30px 15px 0;
    }

} // end max-width: 991px



@media screen and (max-width: 768px) {
    .header {
        .top-line { padding: 25px 0 0; }
        .top-nav-toggle {
            position: absolute;
            right: 15px;
            top: -13px;
            z-index: 1;
        }
        .top-searh { padding-top: 30px; }
        .middle-line .discount { text-align: center; }
        .logo { margin: 30px auto; }
        .bottom-line ul { display: none; }

        .top-nav {
            &.open { right: 20px; left: auto; }
        }
        .shopping-cart { margin-bottom: 30px; }
    }
    #cart ul {
        min-width: auto;
    }
    .cart-group-btn {
        font-size: 0;
        .g-btn {
            margin-left: 10px;
            margin-bottom: 10px;
            width: 185px;
        }
    }

    // Category
    .product-layout.product-grid { width: 50%; }
    .sort-line {
        flex-wrap: wrap;
        padding-bottom: 10px;
        label { padding-bottom: 10px; }
        .sort { padding-bottom: 10px; }
    }

    // Contact
    .contact-info {
        text-align: center;
        margin-top: 20px;
    }

    // footer
    .footer-nav {
        text-align: center;
        padding: 23px 0 0;
        li {
            float: none;
            display: inline-block;
            padding-bottom: 22px;
        }
    }
    .footer .pay-card {
        text-align: center;
        margin-bottom: 10px;
    }
    .footer .subscribe {
        margin-bottom: 40px;
        text-align: center;
        padding-left: 0;
    }
    .footer-menu {
        width: 100%;
        float: none;
        text-align: center;
        &:last-child { left: 0; }
        li { margin-bottom: 15px; }
        .list a { line-height: 16px; }
    }
} // end max-width: 768px


@media screen and (max-width: 600px) {
} // end max-width: 600px



@media screen and (max-width: 500px) {
    .advantages li { width: 100%; }
    .last-news-post .image2 { right: 52%; }
    .modal-account { padding: 26px 5px; }
} // end max-width: 500px



@media screen and (max-width: 400px) {
    // Category
    .product-layout.product-grid { width: 100%; }
} // end max-width: 400px

