// библиотеки, миксины
@import './lib/all';

// font-awesome
@import './font-awesome/_font-awesome';

// bootstrap
@import './bootstrap/_bootstrap';

// pure.css
// @import './pure/_pure';

@import './fancybox/_fancybox';


// основные стили
@import './sprite/sprite';
@import './blocks/fonts';
@import './blocks/general';
@import './blocks/header';
@import './blocks/bread_crumbs';
@import './blocks/category';
@import './blocks/product';
@import './blocks/footer';

// information/information.tpl
@import './blocks/information';

// error/not_found.tpl
@import './blocks/error';


// адаптив
@import './blocks/responsive';


