// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ico-badge-name: 'ico-badge';
$ico-badge-x: 102px;
$ico-badge-y: 79px;
$ico-badge-offset-x: -102px;
$ico-badge-offset-y: -79px;
$ico-badge-width: 19px;
$ico-badge-height: 19px;
$ico-badge-total-width: 153px;
$ico-badge-total-height: 124px;
$ico-badge-image: '../image/i/sprite.png';
$ico-badge: (102px, 79px, -102px, -79px, 19px, 19px, 153px, 124px, '../image/i/sprite.png', 'ico-badge', );
$ico-bonus-name: 'ico-bonus';
$ico-bonus-x: 0px;
$ico-bonus-y: 51px;
$ico-bonus-offset-x: 0px;
$ico-bonus-offset-y: -51px;
$ico-bonus-width: 51px;
$ico-bonus-height: 47px;
$ico-bonus-total-width: 153px;
$ico-bonus-total-height: 124px;
$ico-bonus-image: '../image/i/sprite.png';
$ico-bonus: (0px, 51px, 0px, -51px, 51px, 47px, 153px, 124px, '../image/i/sprite.png', 'ico-bonus', );
$ico-cart-name: 'ico-cart';
$ico-cart-x: 102px;
$ico-cart-y: 31px;
$ico-cart-offset-x: -102px;
$ico-cart-offset-y: -31px;
$ico-cart-width: 35px;
$ico-cart-height: 33px;
$ico-cart-total-width: 153px;
$ico-cart-total-height: 124px;
$ico-cart-image: '../image/i/sprite.png';
$ico-cart: (102px, 31px, -102px, -31px, 35px, 33px, 153px, 124px, '../image/i/sprite.png', 'ico-cart', );
$ico-checked-name: 'ico-checked';
$ico-checked-x: 52px;
$ico-checked-y: 98px;
$ico-checked-offset-x: -52px;
$ico-checked-offset-y: -98px;
$ico-checked-width: 25px;
$ico-checked-height: 25px;
$ico-checked-total-width: 153px;
$ico-checked-total-height: 124px;
$ico-checked-image: '../image/i/sprite.png';
$ico-checked: (52px, 98px, -52px, -98px, 25px, 25px, 153px, 124px, '../image/i/sprite.png', 'ico-checked', );
$ico-coupon-name: 'ico-coupon';
$ico-coupon-x: 0px;
$ico-coupon-y: 0px;
$ico-coupon-offset-x: 0px;
$ico-coupon-offset-y: 0px;
$ico-coupon-width: 51px;
$ico-coupon-height: 51px;
$ico-coupon-total-width: 153px;
$ico-coupon-total-height: 124px;
$ico-coupon-image: '../image/i/sprite.png';
$ico-coupon: (0px, 0px, 0px, 0px, 51px, 51px, 153px, 124px, '../image/i/sprite.png', 'ico-coupon', );
$ico-delivery-name: 'ico-delivery';
$ico-delivery-x: 51px;
$ico-delivery-y: 51px;
$ico-delivery-offset-x: -51px;
$ico-delivery-offset-y: -51px;
$ico-delivery-width: 51px;
$ico-delivery-height: 41px;
$ico-delivery-total-width: 153px;
$ico-delivery-total-height: 124px;
$ico-delivery-image: '../image/i/sprite.png';
$ico-delivery: (51px, 51px, -51px, -51px, 51px, 41px, 153px, 124px, '../image/i/sprite.png', 'ico-delivery', );
$ico-fb-name: 'ico-fb';
$ico-fb-x: 26px;
$ico-fb-y: 98px;
$ico-fb-offset-x: -26px;
$ico-fb-offset-y: -98px;
$ico-fb-width: 26px;
$ico-fb-height: 26px;
$ico-fb-total-width: 153px;
$ico-fb-total-height: 124px;
$ico-fb-image: '../image/i/sprite.png';
$ico-fb: (26px, 98px, -26px, -98px, 26px, 26px, 153px, 124px, '../image/i/sprite.png', 'ico-fb', );
$ico-guarantees-name: 'ico-guarantees';
$ico-guarantees-x: 51px;
$ico-guarantees-y: 0px;
$ico-guarantees-offset-x: -51px;
$ico-guarantees-offset-y: 0px;
$ico-guarantees-width: 51px;
$ico-guarantees-height: 51px;
$ico-guarantees-total-width: 153px;
$ico-guarantees-total-height: 124px;
$ico-guarantees-image: '../image/i/sprite.png';
$ico-guarantees: (51px, 0px, -51px, 0px, 51px, 51px, 153px, 124px, '../image/i/sprite.png', 'ico-guarantees', );
$ico-master-cart-name: 'ico-master-cart';
$ico-master-cart-x: 102px;
$ico-master-cart-y: 0px;
$ico-master-cart-offset-x: -102px;
$ico-master-cart-offset-y: 0px;
$ico-master-cart-width: 51px;
$ico-master-cart-height: 31px;
$ico-master-cart-total-width: 153px;
$ico-master-cart-total-height: 124px;
$ico-master-cart-image: '../image/i/sprite.png';
$ico-master-cart: (102px, 0px, -102px, 0px, 51px, 31px, 153px, 124px, '../image/i/sprite.png', 'ico-master-cart', );
$ico-search-name: 'ico-search';
$ico-search-x: 137px;
$ico-search-y: 31px;
$ico-search-offset-x: -137px;
$ico-search-offset-y: -31px;
$ico-search-width: 14px;
$ico-search-height: 14px;
$ico-search-total-width: 153px;
$ico-search-total-height: 124px;
$ico-search-image: '../image/i/sprite.png';
$ico-search: (137px, 31px, -137px, -31px, 14px, 14px, 153px, 124px, '../image/i/sprite.png', 'ico-search', );
$ico-truck-name: 'ico-truck';
$ico-truck-x: 121px;
$ico-truck-y: 79px;
$ico-truck-offset-x: -121px;
$ico-truck-offset-y: -79px;
$ico-truck-width: 19px;
$ico-truck-height: 13px;
$ico-truck-total-width: 153px;
$ico-truck-total-height: 124px;
$ico-truck-image: '../image/i/sprite.png';
$ico-truck: (121px, 79px, -121px, -79px, 19px, 13px, 153px, 124px, '../image/i/sprite.png', 'ico-truck', );
$ico-tw-name: 'ico-tw';
$ico-tw-x: 0px;
$ico-tw-y: 98px;
$ico-tw-offset-x: 0px;
$ico-tw-offset-y: -98px;
$ico-tw-width: 26px;
$ico-tw-height: 26px;
$ico-tw-total-width: 153px;
$ico-tw-total-height: 124px;
$ico-tw-image: '../image/i/sprite.png';
$ico-tw: (0px, 98px, 0px, -98px, 26px, 26px, 153px, 124px, '../image/i/sprite.png', 'ico-tw', );
$ico-visa-cart-name: 'ico-visa-cart';
$ico-visa-cart-x: 102px;
$ico-visa-cart-y: 64px;
$ico-visa-cart-offset-x: -102px;
$ico-visa-cart-offset-y: -64px;
$ico-visa-cart-width: 51px;
$ico-visa-cart-height: 15px;
$ico-visa-cart-total-width: 153px;
$ico-visa-cart-total-height: 124px;
$ico-visa-cart-image: '../image/i/sprite.png';
$ico-visa-cart: (102px, 64px, -102px, -64px, 51px, 15px, 153px, 124px, '../image/i/sprite.png', 'ico-visa-cart', );
$spritesheet-width: 153px;
$spritesheet-height: 124px;
$spritesheet-image: '../image/i/sprite.png';
$spritesheet-sprites: ($ico-badge, $ico-bonus, $ico-cart, $ico-checked, $ico-coupon, $ico-delivery, $ico-fb, $ico-guarantees, $ico-master-cart, $ico-search, $ico-truck, $ico-tw, $ico-visa-cart, );
$spritesheet: (153px, 124px, '../image/i/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
