// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ico-bonus-name: 'ico-bonus';
$ico-bonus-x: 0px;
$ico-bonus-y: 51px;
$ico-bonus-offset-x: 0px;
$ico-bonus-offset-y: -51px;
$ico-bonus-width: 51px;
$ico-bonus-height: 47px;
$ico-bonus-total-width: 137px;
$ico-bonus-total-height: 98px;
$ico-bonus-image: '../image/i/sprite-0010582985797164435.png';
$ico-bonus: (0px, 51px, 0px, -51px, 51px, 47px, 137px, 98px, '../image/i/sprite-0010582985797164435.png', 'ico-bonus', );
$ico-cart-name: 'ico-cart';
$ico-cart-x: 102px;
$ico-cart-y: 0px;
$ico-cart-offset-x: -102px;
$ico-cart-offset-y: 0px;
$ico-cart-width: 35px;
$ico-cart-height: 33px;
$ico-cart-total-width: 137px;
$ico-cart-total-height: 98px;
$ico-cart-image: '../image/i/sprite-0010582985797164435.png';
$ico-cart: (102px, 0px, -102px, 0px, 35px, 33px, 137px, 98px, '../image/i/sprite-0010582985797164435.png', 'ico-cart', );
$ico-coupon-name: 'ico-coupon';
$ico-coupon-x: 0px;
$ico-coupon-y: 0px;
$ico-coupon-offset-x: 0px;
$ico-coupon-offset-y: 0px;
$ico-coupon-width: 51px;
$ico-coupon-height: 51px;
$ico-coupon-total-width: 137px;
$ico-coupon-total-height: 98px;
$ico-coupon-image: '../image/i/sprite-0010582985797164435.png';
$ico-coupon: (0px, 0px, 0px, 0px, 51px, 51px, 137px, 98px, '../image/i/sprite-0010582985797164435.png', 'ico-coupon', );
$ico-delivery-name: 'ico-delivery';
$ico-delivery-x: 51px;
$ico-delivery-y: 51px;
$ico-delivery-offset-x: -51px;
$ico-delivery-offset-y: -51px;
$ico-delivery-width: 51px;
$ico-delivery-height: 41px;
$ico-delivery-total-width: 137px;
$ico-delivery-total-height: 98px;
$ico-delivery-image: '../image/i/sprite-0010582985797164435.png';
$ico-delivery: (51px, 51px, -51px, -51px, 51px, 41px, 137px, 98px, '../image/i/sprite-0010582985797164435.png', 'ico-delivery', );
$ico-guarantees-name: 'ico-guarantees';
$ico-guarantees-x: 51px;
$ico-guarantees-y: 0px;
$ico-guarantees-offset-x: -51px;
$ico-guarantees-offset-y: 0px;
$ico-guarantees-width: 51px;
$ico-guarantees-height: 51px;
$ico-guarantees-total-width: 137px;
$ico-guarantees-total-height: 98px;
$ico-guarantees-image: '../image/i/sprite-0010582985797164435.png';
$ico-guarantees: (51px, 0px, -51px, 0px, 51px, 51px, 137px, 98px, '../image/i/sprite-0010582985797164435.png', 'ico-guarantees', );
$ico-search-name: 'ico-search';
$ico-search-x: 102px;
$ico-search-y: 33px;
$ico-search-offset-x: -102px;
$ico-search-offset-y: -33px;
$ico-search-width: 14px;
$ico-search-height: 14px;
$ico-search-total-width: 137px;
$ico-search-total-height: 98px;
$ico-search-image: '../image/i/sprite-0010582985797164435.png';
$ico-search: (102px, 33px, -102px, -33px, 14px, 14px, 137px, 98px, '../image/i/sprite-0010582985797164435.png', 'ico-search', );
$spritesheet-width: 137px;
$spritesheet-height: 98px;
$spritesheet-image: '../image/i/sprite-0010582985797164435.png';
$spritesheet-sprites: ($ico-bonus, $ico-cart, $ico-coupon, $ico-delivery, $ico-guarantees, $ico-search, );
$spritesheet: (137px, 98px, '../image/i/sprite-0010582985797164435.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
