// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ico-badge-name: 'ico-badge';
$ico-badge-x: 0px;
$ico-badge-y: 129px;
$ico-badge-offset-x: 0px;
$ico-badge-offset-y: -129px;
$ico-badge-width: 19px;
$ico-badge-height: 19px;
$ico-badge-total-width: 179px;
$ico-badge-total-height: 148px;
$ico-badge-image: '../image/i/sprite.png';
$ico-badge: (0px, 129px, 0px, -129px, 19px, 19px, 179px, 148px, '../image/i/sprite.png', 'ico-badge', );
$ico-bonus-name: 'ico-bonus';
$ico-bonus-x: 0px;
$ico-bonus-y: 51px;
$ico-bonus-offset-x: 0px;
$ico-bonus-offset-y: -51px;
$ico-bonus-width: 51px;
$ico-bonus-height: 47px;
$ico-bonus-total-width: 179px;
$ico-bonus-total-height: 148px;
$ico-bonus-image: '../image/i/sprite.png';
$ico-bonus: (0px, 51px, 0px, -51px, 51px, 47px, 179px, 148px, '../image/i/sprite.png', 'ico-bonus', );
$ico-cart-name: 'ico-cart';
$ico-cart-x: 102px;
$ico-cart-y: 31px;
$ico-cart-offset-x: -102px;
$ico-cart-offset-y: -31px;
$ico-cart-width: 35px;
$ico-cart-height: 33px;
$ico-cart-total-width: 179px;
$ico-cart-total-height: 148px;
$ico-cart-image: '../image/i/sprite.png';
$ico-cart: (102px, 31px, -102px, -31px, 35px, 33px, 179px, 148px, '../image/i/sprite.png', 'ico-cart', );
$ico-checked-name: 'ico-checked';
$ico-checked-x: 153px;
$ico-checked-y: 52px;
$ico-checked-offset-x: -153px;
$ico-checked-offset-y: -52px;
$ico-checked-width: 25px;
$ico-checked-height: 25px;
$ico-checked-total-width: 179px;
$ico-checked-total-height: 148px;
$ico-checked-image: '../image/i/sprite.png';
$ico-checked: (153px, 52px, -153px, -52px, 25px, 25px, 179px, 148px, '../image/i/sprite.png', 'ico-checked', );
$ico-coupon-name: 'ico-coupon';
$ico-coupon-x: 51px;
$ico-coupon-y: 0px;
$ico-coupon-offset-x: -51px;
$ico-coupon-offset-y: 0px;
$ico-coupon-width: 51px;
$ico-coupon-height: 51px;
$ico-coupon-total-width: 179px;
$ico-coupon-total-height: 148px;
$ico-coupon-image: '../image/i/sprite.png';
$ico-coupon: (51px, 0px, -51px, 0px, 51px, 51px, 179px, 148px, '../image/i/sprite.png', 'ico-coupon', );
$ico-delivery-name: 'ico-delivery';
$ico-delivery-x: 51px;
$ico-delivery-y: 51px;
$ico-delivery-offset-x: -51px;
$ico-delivery-offset-y: -51px;
$ico-delivery-width: 51px;
$ico-delivery-height: 41px;
$ico-delivery-total-width: 179px;
$ico-delivery-total-height: 148px;
$ico-delivery-image: '../image/i/sprite.png';
$ico-delivery: (51px, 51px, -51px, -51px, 51px, 41px, 179px, 148px, '../image/i/sprite.png', 'ico-delivery', );
$ico-email-name: 'ico-email';
$ico-email-x: 115px;
$ico-email-y: 98px;
$ico-email-offset-x: -115px;
$ico-email-offset-y: -98px;
$ico-email-width: 19px;
$ico-email-height: 15px;
$ico-email-total-width: 179px;
$ico-email-total-height: 148px;
$ico-email-image: '../image/i/sprite.png';
$ico-email: (115px, 98px, -115px, -98px, 19px, 15px, 179px, 148px, '../image/i/sprite.png', 'ico-email', );
$ico-fb-login-name: 'ico-fb-login';
$ico-fb-login-x: 0px;
$ico-fb-login-y: 98px;
$ico-fb-login-offset-x: 0px;
$ico-fb-login-offset-y: -98px;
$ico-fb-login-width: 32px;
$ico-fb-login-height: 31px;
$ico-fb-login-total-width: 179px;
$ico-fb-login-total-height: 148px;
$ico-fb-login-image: '../image/i/sprite.png';
$ico-fb-login: (0px, 98px, 0px, -98px, 32px, 31px, 179px, 148px, '../image/i/sprite.png', 'ico-fb-login', );
$ico-fb-name: 'ico-fb';
$ico-fb-x: 153px;
$ico-fb-y: 0px;
$ico-fb-offset-x: -153px;
$ico-fb-offset-y: 0px;
$ico-fb-width: 26px;
$ico-fb-height: 26px;
$ico-fb-total-width: 179px;
$ico-fb-total-height: 148px;
$ico-fb-image: '../image/i/sprite.png';
$ico-fb: (153px, 0px, -153px, 0px, 26px, 26px, 179px, 148px, '../image/i/sprite.png', 'ico-fb', );
$ico-gp-login-name: 'ico-gp-login';
$ico-gp-login-x: 32px;
$ico-gp-login-y: 98px;
$ico-gp-login-offset-x: -32px;
$ico-gp-login-offset-y: -98px;
$ico-gp-login-width: 32px;
$ico-gp-login-height: 31px;
$ico-gp-login-total-width: 179px;
$ico-gp-login-total-height: 148px;
$ico-gp-login-image: '../image/i/sprite.png';
$ico-gp-login: (32px, 98px, -32px, -98px, 32px, 31px, 179px, 148px, '../image/i/sprite.png', 'ico-gp-login', );
$ico-guarantees-name: 'ico-guarantees';
$ico-guarantees-x: 0px;
$ico-guarantees-y: 0px;
$ico-guarantees-offset-x: 0px;
$ico-guarantees-offset-y: 0px;
$ico-guarantees-width: 51px;
$ico-guarantees-height: 51px;
$ico-guarantees-total-width: 179px;
$ico-guarantees-total-height: 148px;
$ico-guarantees-image: '../image/i/sprite.png';
$ico-guarantees: (0px, 0px, 0px, 0px, 51px, 51px, 179px, 148px, '../image/i/sprite.png', 'ico-guarantees', );
$ico-house-name: 'ico-house';
$ico-house-x: 153px;
$ico-house-y: 77px;
$ico-house-offset-x: -153px;
$ico-house-offset-y: -77px;
$ico-house-width: 19px;
$ico-house-height: 19px;
$ico-house-total-width: 179px;
$ico-house-total-height: 148px;
$ico-house-image: '../image/i/sprite.png';
$ico-house: (153px, 77px, -153px, -77px, 19px, 19px, 179px, 148px, '../image/i/sprite.png', 'ico-house', );
$ico-like-name: 'ico-like';
$ico-like-x: 153px;
$ico-like-y: 96px;
$ico-like-offset-x: -153px;
$ico-like-offset-y: -96px;
$ico-like-width: 19px;
$ico-like-height: 19px;
$ico-like-total-width: 179px;
$ico-like-total-height: 148px;
$ico-like-image: '../image/i/sprite.png';
$ico-like: (153px, 96px, -153px, -96px, 19px, 19px, 179px, 148px, '../image/i/sprite.png', 'ico-like', );
$ico-master-cart-name: 'ico-master-cart';
$ico-master-cart-x: 102px;
$ico-master-cart-y: 0px;
$ico-master-cart-offset-x: -102px;
$ico-master-cart-offset-y: 0px;
$ico-master-cart-width: 51px;
$ico-master-cart-height: 31px;
$ico-master-cart-total-width: 179px;
$ico-master-cart-total-height: 148px;
$ico-master-cart-image: '../image/i/sprite.png';
$ico-master-cart: (102px, 0px, -102px, 0px, 51px, 31px, 179px, 148px, '../image/i/sprite.png', 'ico-master-cart', );
$ico-phone-call-name: 'ico-phone-call';
$ico-phone-call-x: 134px;
$ico-phone-call-y: 64px;
$ico-phone-call-offset-x: -134px;
$ico-phone-call-offset-y: -64px;
$ico-phone-call-width: 19px;
$ico-phone-call-height: 19px;
$ico-phone-call-total-width: 179px;
$ico-phone-call-total-height: 148px;
$ico-phone-call-image: '../image/i/sprite.png';
$ico-phone-call: (134px, 64px, -134px, -64px, 19px, 19px, 179px, 148px, '../image/i/sprite.png', 'ico-phone-call', );
$ico-search-name: 'ico-search';
$ico-search-x: 137px;
$ico-search-y: 31px;
$ico-search-offset-x: -137px;
$ico-search-offset-y: -31px;
$ico-search-width: 14px;
$ico-search-height: 14px;
$ico-search-total-width: 179px;
$ico-search-total-height: 148px;
$ico-search-image: '../image/i/sprite.png';
$ico-search: (137px, 31px, -137px, -31px, 14px, 14px, 179px, 148px, '../image/i/sprite.png', 'ico-search', );
$ico-truck-name: 'ico-truck';
$ico-truck-x: 153px;
$ico-truck-y: 115px;
$ico-truck-offset-x: -153px;
$ico-truck-offset-y: -115px;
$ico-truck-width: 19px;
$ico-truck-height: 13px;
$ico-truck-total-width: 179px;
$ico-truck-total-height: 148px;
$ico-truck-image: '../image/i/sprite.png';
$ico-truck: (153px, 115px, -153px, -115px, 19px, 13px, 179px, 148px, '../image/i/sprite.png', 'ico-truck', );
$ico-tw-login-name: 'ico-tw-login';
$ico-tw-login-x: 102px;
$ico-tw-login-y: 64px;
$ico-tw-login-offset-x: -102px;
$ico-tw-login-offset-y: -64px;
$ico-tw-login-width: 32px;
$ico-tw-login-height: 31px;
$ico-tw-login-total-width: 179px;
$ico-tw-login-total-height: 148px;
$ico-tw-login-image: '../image/i/sprite.png';
$ico-tw-login: (102px, 64px, -102px, -64px, 32px, 31px, 179px, 148px, '../image/i/sprite.png', 'ico-tw-login', );
$ico-tw-name: 'ico-tw';
$ico-tw-x: 153px;
$ico-tw-y: 26px;
$ico-tw-offset-x: -153px;
$ico-tw-offset-y: -26px;
$ico-tw-width: 26px;
$ico-tw-height: 26px;
$ico-tw-total-width: 179px;
$ico-tw-total-height: 148px;
$ico-tw-image: '../image/i/sprite.png';
$ico-tw: (153px, 26px, -153px, -26px, 26px, 26px, 179px, 148px, '../image/i/sprite.png', 'ico-tw', );
$ico-visa-cart-name: 'ico-visa-cart';
$ico-visa-cart-x: 64px;
$ico-visa-cart-y: 98px;
$ico-visa-cart-offset-x: -64px;
$ico-visa-cart-offset-y: -98px;
$ico-visa-cart-width: 51px;
$ico-visa-cart-height: 15px;
$ico-visa-cart-total-width: 179px;
$ico-visa-cart-total-height: 148px;
$ico-visa-cart-image: '../image/i/sprite.png';
$ico-visa-cart: (64px, 98px, -64px, -98px, 51px, 15px, 179px, 148px, '../image/i/sprite.png', 'ico-visa-cart', );
$spritesheet-width: 179px;
$spritesheet-height: 148px;
$spritesheet-image: '../image/i/sprite.png';
$spritesheet-sprites: ($ico-badge, $ico-bonus, $ico-cart, $ico-checked, $ico-coupon, $ico-delivery, $ico-email, $ico-fb-login, $ico-fb, $ico-gp-login, $ico-guarantees, $ico-house, $ico-like, $ico-master-cart, $ico-phone-call, $ico-search, $ico-truck, $ico-tw-login, $ico-tw, $ico-visa-cart, );
$spritesheet: (179px, 148px, '../image/i/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
